* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
  }
  
  body {
    max-width: 100%;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
  }
  
  .image1 {
    position: absolute;
    width: 400px;
    height: 625px;
    display: flex;
    left: -60px;
    top: -50px;
  }
  
  .image2 {
    position: relative;
    width: 50px;
    height: 50px;
    left: 45px;
    top: 100px;
  }
  
  .image3 {
    position: absolute;
    width: 483px;
    height: 318px;
    left: -60px;
    top: 280px;
  }

  .image4 {
      position: absolute;
      width: 600px;
      height: 650px;
      left: 780px;
      top: 40px;
  }
  
  section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
  }
  
  .kolom {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .kolom .deskripsi {
    position: absolute;
    width: 93px;
    height: 51px;
    left: 120px;
    top: 76px;
  
    font-family: "Alata";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 51px;
  
    color: #ffffff;
  }
  
  h2 {
    width: 244px;
    height: 38px;
    left: 59px;
    top: 679px;
    font-family: "Alata";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #100f0f;
    transform: translate(0%, 800%);
  }
  
  h3 {
    width: 244px;
    height: 38px;
    left: 59px;
    top: 679px;
    font-family: "Alata";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #100f0f;
    transform: translate(0%, 800%);
  }
  
  h5 {
    width: 244px;
    height: 38px;
    left: 59px;
    top: 679px;
    font-family: "Alata";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #100f0f;
    transform: translate(0%, 800%);
  }
  
  .btn-daftar {
    background: #de1e1f;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
  }
  
  .btn-daftar:hover {
    background: #000;
    text-decoration: none;
  }
  
  h4 {
    width: 244px;
    height: 38px;
    left: 59px;
    top: 679px;
    font-family: "Alata";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #100f0f;
    transform: translate(0%, 800%);
  }
  
  h6 {
    width: 244px;
    height: 38px;
    left: 59px;
    top: 679px;
    font-family: "Alata";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #100f0f;
    transform: translate(0%, 800%);
  }
  
  h1 {
    width: 244px;
    height: 38px;
    left: 59px;
    top: 679px;
    font-family: "Alata";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #100f0f;
    transform: translate(0%, 800%);
  }
  
  .link {
    color: #100f0f;
    cursor: pointer;
  }
  
  p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
  }
  